.insta i {
    color: rgb(190, 91, 91);
}

.bx bxl-instagram-alt {
    height: 15px;
    width: 15px;
}

.what i {
    color: green;
}

.redes a {
    text-decoration: none;
    color: black;
    font-size: large;
}
