.headerindex {
    width: 100%;
    height: 305px;
}

.headerconsultas {
    background-color:$principalblack;
    width: 100%;
    height: 305px;
}
head {
    background-color: grey;
}

h1{
    background-color: black;
    color: $grisfondo;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}